extends layout

block content
    main.flex-shrink-0
        .container
            h1.mt-5 #{software.name}
            p.lead
            | #{software.salutation}
            if show_debug
              pre.
                #{JSON.stringify(locals, null, 2)}
            ul
              li
                a(href="/auth/connect") Connect to T1Pal
              li
                a(href="/dashboard") Dashboard
            h3 Site #{site_runtime.name} Nightscout
            p
              a(href='//' + site_runtime.domain) Visit #{site_runtime.domain}
            h4 Views
            ul
            each view in site_views
              li
                | Link 
                a(href=view.url) #{view.name}
                |  uses the
                tt #{view.expected_name}
                |  prefix.

                

